*{
    box-sizing: border-box;
    margin:0px;
}
#grid-container
{
    display: grid;
    grid-template-areas: 
    "main main main main"
    "about about about about"
    "logo logo logo logo"
    "heading heading heading heading"
    "service service service service"
    "step step step step"
    "promo promo promo promo"
    "photo photo photo photo"
    "book book book book"
    "testimony testimony testimony testimony"
    "reviews reviews reviews reviews "
    "join join join join"
    "footer footer footer footer";
}
.main
{
    grid-area: main;
    margin-bottom: 100px;
}
header{
    background-color: rgb(66, 70, 75);
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;    
}
header > p
{
    display:inline-flex;
    color:white;
}
header a
{
    color:white;
    padding-left: 5px;
}
.address
{
    padding: 30px;
}
.address > p
{
    display:inline-flex;
}
.address #email-address
{
    float:left;
    margin-left: 100px;
}
.address #phone
{
    float:right;
    margin-right: 100px;
}
.address > p > i
{
    color: #070650;
    margin-left: 20px;
    margin-right: 20px;
}
.navigation
{
    text-align: center;
}
.navigation > ul
{
    list-style-type: none;
    display: inline-flex;
    padding: 50px;
}
.navigation a
{
    text-decoration: none;
    margin: 50px;
    color: rgb(100, 97, 97);
    font-weight: bolder;
}
.navigation #home
{
    color:#f8c306;
}
.main .moving
{
    background-image:url('https://res.cloudinary.com/growing-fathers/image/upload/w_1300,h_684,q_auto,f_auto,c_lfill/v1/blog/leading-your-family-through-a-move?_a=BAMCkGeA0');
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    color:white;
    text-align: center;
    padding:200px;
}
.main .moving h1
{
    font-size: 100px;
    font-weight: bolder;
}
.main .moving p
{
    color:black;
    font-weight: bolder;
}
.main .moving > button
{
    padding: 20px 40px ;
    background-color: #f8c306;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.about 
{
    grid-area: about;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.about .section
{
    display:grid;
    grid-template-columns: auto auto;
    width:800px;
    padding-left: 200px;
    padding-top: 100px;
}
.about .section div
{
    margin-right: 100px;
    margin-left: 100px;
}
.about .picture img
{
    width: 500px;
    height:500px;
}

.about h1
{
    font-size: 50px;
}
.about a
{
    color: #f8c306;
    font-size: 20px;
    font-weight: bolder;
}
.logo
{ 
    grid-area: logo;
    display:flex;
    text-align: center;
    margin: 100px;
}
.heading
{
    grid-area:heading;
    text-align: center;
    padding: 50px;
}
.heading h1
{
    font-size: 50px;
}
.service
{
    grid-area: service;
    display: grid;
    grid-template-columns: repeat(4,300px);
    margin: auto;
    text-align: center;
    height: 500px;
}
.service .storage
{
    background-color: #1598cc;
    color: white;
}
.service i
{
    font-size: 100px;
}
.service a
{
    text-decoration: none;
}
.step
{
    grid-area: step;
    text-align: center;
    margin: auto;
    display:inline-flex;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.step p
{
    margin-left: 200px;
    margin-top: 30px;
    font-weight: bolder;
    text-align: start;
}
.step h1
{
    font-size: 40px;
    text-align: start;
    margin-left: 30px;
}
.step div
{
    background-image: url("Images/article3.jpg");
    text-align: center;
    width:200px;
    height: 100px;
    margin-left: 20px;
}
.step i
{
    font-size: 50px;
    margin-top: 30px;
}
.promo
{
    grid-area: promo;
    display: grid;
    grid-template-columns: auto auto;
    height:700px;
    margin: auto;
}
.promo .image-container
{
    width:500px;
    padding-right: 40px;
    background-color: #529fdf;
    margin-right: 100px;
}
.promo .verify 
{
    background-image: url('https://i.pinimg.com/736x/97/57/64/9757640e0185f00b745a49af1314637f.jpg');
    background-repeat: no-repeat;
    height:400px;
    text-align: center;
    padding: 20px;
}
.promo .riaad
{
    background-color: white;
    color:black;
    width: 250px;
    height: 150px;
    padding: 30px;
}

.promo .image-container > p
{
    color:white;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 30px;
}
.promo .choose-riaad
{
    width: 500px;
    /* padding-left:50px ; */
}
.promo .choose-riaad .paragraph
{
    display:inline-flex;
    padding: 50px;
    font-weight: bolder;
}
.promo .contact
{
    padding-left: 500px;
    padding-top: 40px;
}
.promo .choose-riaad i,h1
{
    font-size: 40px;
}
.blog .article
{
    background-image: url('https://files.slack.com/files-pri/T08BR1M9D6V-F08JD4B1XFB/news-02__1_.jpg');
}
.photo
{
    grid-area: photo;
    height:1000px;
    background-image: url('Images/couple.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:50px;
    text-align: center;
    font-size: 150px;
    align-items: center;
}
.photo i
{
    margin-top: 450px;
}
.book
{
    grid-area: book;
    display:grid;
    grid-template-columns: auto auto ;
}
.book .request
{
    background-color:#f8c306 ;
    padding-left:400px;
    padding-top: 100px;
    color:white;
}
.book .request h1
{
    font-size: 50px;
}
.book .form 
{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#529fdf ;
    padding: 50px;
}
.book button
{
    width: 150px;
    height: 55px;
    margin-top: 20px;
    font-weight: bolder;
    background-color:#f8c306;
    color: white;
    border:none;
}
.book .form label
{
    color: white;
    font-weight: bolder;
}
.book sup
{
    color: red;
}
.testimony
{
    grid-area: testimony;
    text-align: center;
    padding: 80px;
}
.testimony h1
{
    font-size: 50px;
}
.reviews
{
    grid-area: reviews;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap:100px;
    margin-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.reviews span
{
    font-size: 60px;
    color:white;
    background-color: #1598cc;
    border-radius: 200%;
}
.reviews .christine
{
    color: #f8c306;
    font-weight: bolder;
}
.join
{
    grid-area: join;
    text-align: center;
}
.join .blog
{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 350px;
    grid-gap: 50px;
    color: white;
    font-size: 18px;
    text-align: start;
    margin-left: 20%;
}
.join h1
{
    font-size: 50px;
    margin-bottom: 50px;
}
.join a
{
    color: #f8c306 ;
    font-weight: bolder;
}
.join button
{
    background-color: #f8c306;
    width: 200px;
    padding:25px;
    color: white;
    font-weight: bolder;
    border: none;
    margin-bottom: 100px;
    margin-left: 100px;
}
.join .blog .article-1
{
    background-image: url("Images/article1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.join .blog .article-2
{
    background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fm.media-amazon.com%2Fimages%2FI%2F71zTfatZYPL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.join .blog .article-3
{
    background-image: url("Images/article3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.join .blog  p
{
    color:rgb(84, 9, 99);
    font-weight: bolder;
}
.footer
{
    grid-area: footer;
    display: grid;
    grid-template-rows: auto auto;
}
.footer .discover
{
    background-color: #e2b205;
    display: inline-flex;
    padding: 100px;
    color: white;

}
.footer .discover button
{
    padding: 25px;
    width: 200px;
    background-color: rgb(66, 70, 75);
    border: none;
    margin-left: 40%;
}
.footer .discover a
{
    text-decoration: none;
    font-weight: bolder;
    color: white;

}
.footer h1 
{
    margin-top: 10px;
    font-weight: bolder;
}

.footer .footer-link
{
    background-color: rgb(66, 70, 75);
    display: inline-flex;
    padding: 100px;
}
.footer ul
{
    list-style-type: none;
    margin-left: 200px;
    color: white;
}
.footer .copyright
{
    background-color: rgb(66, 70, 75);
    padding: 30px; 
    text-align: center;
    color: white;
}
.footer .copyright p
{
    margin: 30px;
}
.footer .social
{
    display:inline-flex;
}
.footer .social i
{
    font-size: 20px;
    margin:10px;
}

hr
{
    margin-left: 20px;
    margin-right: 20px;

}
input
{
    padding:20px;
    width:200px;
    font-weight: bold;
    border: none;
}
a
{
    color:#f8c306;
    font-weight: bolder;
}